<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAR-O-KIDS</title>
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Jar-O-Kids</a>
      </h1>

      <nav>
      <button id="logout" class="btn-no-style">logout</button>
      <a href="/login">login</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
    </footer>
  </div>
  <script src="/javascript/logout.js"></script>

</body>
</html>