

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAR-O-KIDS</title>
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>

    body {
        background-image: url("../images/image.png");
    }
    p {
        padding: 20px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        font: 18px Arial, sans-serif;      
    }
</style>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Jar-O-Kids</a>
      </h1>
      <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login" style="color: green">login</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
    </footer>
  </div>
 </body>
</html>