{{!-- <div>
    <h1>Welcome to Jar-O-Kids Enrollment Application!</h1>
    <p>Please See Below and complete all fields to sign up and submit a student for enrollment.  The student's status will be set to "processing" until 
        reviewed by an administrator and updated to reflect "approved," in which case the student will proceed with the enrollment process.  Or, the status will 
        reflect "denied."
    </p>
</div> --}}

<form class="signup-form">

    <div>
        <label for="parent-name-signup">Parent Name:</label>
        <input type="text" id="parent-name-signup" />
    </div>
    <div>
        <label for="email-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <label for="phone-signup">Phone Number:</label>
        <input type="phone" id="phone-signup" />
    </div>

    <div>  
    <button type="submit">Sign Up</button>
    </div>

</form>

<script src="/javascript/sign-up.js"></script>
