
<!--Registration Form-->
<section class="hero"  id="signup-form">
  <div class="hero-form">
    <h2>Welcome to Registration!</h2>
    <form id="registration-form">
      <label for="parent-name" class="form-label">Parent Name:</label>
      <input type="text" id="parent-name" class="form-input input" placeholder="Enter Name"
        name="parent-name">

      <label for="email-input" class="form-label input">Email:</label>
      <input type="text" id="email-input" class="form-input" placeholder="Enter Email" name="age">

      <label for="phone-number" class="form-label">Phone Number:</label>
      <input type="text" class="form-input input" id="phone-number" placeholder="Enter Phone Number"
        name="phone-number">

      <label for="pass-word" class="form-label">Password:</label>
      <input type="text" class="form-input input" id="pass-word" placeholder="Enter Password"
        name="pass-word">

  <!--Submit button-->
  <div class="container">
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>

</section>

<footer>
    <p>© 2022, JAR-O-KIDS. All rights reserved.</p>
  </footer>
</div>
</form>

<script src="/javascript/sign-up.js"></script>
